<section class="container-l1 md:mt-8 my-10">
  <.search language_names={@language_names} framework_names={@framework_names} />
  <div class="flex flex-wrap justify-center gap-8 md:gap-10" id="courses" phx-update="stream">
    <.course_card :for={{dom_id, course} <- @streams.courses} id={dom_id} course={course} />
  </div>
</section>
