<form phx-submit="search" class="flex items-center mb-8 md:mb-12 justify-center">
  <input
    type="text"
    name="search"
    placeholder="Search courses"
    class="rounded-lg bg-black text-white w-full md:w-2/5 focus:outline-none focus:ring-0 focus:border-green"
  />
  <.button type="submit" class="ml-3">Search</.button>
</form>
