<section class="container-l1 md:mt-8 my-10">
  <div class="flex flex-wrap justify-evenly xl:justify-between gap-8 md:gap-10">
    <.course_card :for={course <- @courses} course={course} />
  </div>
</section>
