@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* This file is for your main application CSS */

:root {
  --color-white: #f5f5f5;
  --color-black: #0d0d0d;
  --color-green: #00e3a5;
  --color-gray: #a1a1aa;
}

html,
body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@layer components {
  .container-l1 {
    @apply mx-auto w-11/12;
  }

  .container-l2 {
    @apply mx-auto w-4/5;
  }

  .container-l3 {
    @apply container-l2 md:w-3/4;
  }
}
