<!DOCTYPE html>
<html lang={@locale} class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "TechSchool" %>
    </.live_title>
    <meta
      name="description"
      content={
        assigns[:page_description] ||
          gettext("TechSchool is a platform for learning programming, 100% free and open source!")
      }
    />
    <meta property="og:title" content={assigns[:page_title] || "TechSchool"} />
    <meta
      property="og:description"
      content={
        assigns[:page_description] ||
          gettext("TechSchool is a platform for learning programming, 100% free and open source!")
      }
    />
    <meta property="og:image" content={~p"/images/logo.svg"} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={"https://techschool.dev" <> @conn.request_path} />
    <link rel="canonical" href={"https://techschool.dev" <> @conn.request_path} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap"
      as="style"
      rel="preload"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    <%= @inner_content %>
  </body>
</html>
