<form>
  <input
    type="text"
    name="search"
    placeholder="Search courses"
    class="rounded-full bg-black text-white mb-6 w-full focus:outline-none focus:ring-0 focus:border-green"
  />
</form>
